## MacOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.bundle
.sass-cache
node_modules
package.json

## Jekyll stuff
/_site/
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
Gemfile
Gemfile.lock